

@{
    ViewBag.Title = "Home Page";
}
<div id="wrapper">
    <h1 class="home-title-top">ABOUT</h1>
    <p class="home-p-top">Our App Description</p>
    <a id="entrance-text" href="@Url.Action("Index","VirtualTrails")">Enter Here</a>


    <h1 class="home-title-second">METROPARKS</h1>
    <p class="home-p-second">Explore 18 reservations spanning more than 23,000 acres with more than 300 miles of trails, eight golf courses, eight lakefront parks and a nationally-acclaimed zoo.</p>



    <img src="~/Content/images/background-img-less-wide-shot-waterfall.jpg" class="background-top-image" />

    <img src="~/Content/images/background-img-wide-shot-forest-bottom.jpg" class="background-bottom-image" />
</div>