@model Capstone.Web.Models.AdminNewHotspotModel
@{
    ViewBag.Title = "AddHotspotResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="successful-hotspot">Your hotspot has been added!</div>


