@font-face {
    font-family: 'fontawesome-webfont';
    src: URL('fontawesome-webfont.ttf') format('ttf'), 
        URL('fontawesome-webfont.woff') format('woff');
}

*{
    font-family: sans-serif Arial;
}

body {
    padding-top: 200px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.left img {
    width: 300px;
    display: inline-block;
    position: relative;
}
.left {
    display: inline-block;
    width: 50%;
    position: relative;
}
.right{
    display: inline-block;
    width: calc(50% - 1em);
    text-align: right;
    position: relative;
}

div.navbar {
    background-color: white;
    position: absolute;
}