@font-face {
    font-family: 'fontawesome-webfont';
    src: URL('fontawesome-webfont.ttf') format('ttf'), URL('fontawesome-webfont.woff') format('woff');
}

* {
    font-family: sans-serif Arial;
}

body {
    padding-top: 200px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo-header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 1em;
    grid-template-areas: 'a b';
}

.left-header {
    grid-area: a;
    align-self: center;
}

    .left-header img {
        width: 300px;
        display: inline-block;
        position: relative;
    }

.right-header {
    grid-area: b;
    padding-top: 6.65rem;
}

.right-header span {
    color: rgb(28, 86, 48);
    font-weight: 900;
    font-size: 2.3rem;
}

.right-header-amp {
    grid-area: b;
    position: relative;
    left: 7rem;
    padding-top: 3.4rem;
}

    .right-header-amp span {
        color: rgb(28, 86, 48);
        font-weight: 600;
        font-size: 6rem;
    }

div.navbar {
    background-color: lightgreen;
    position: absolute;
}

#park-selection-map img {
    width: 80%;
}
