@model List<Capstone.Web.Models.ParkModel>
@{
    ViewBag.Title = "ChoosePark";
}


<h2>Choose your park</h2>


<div id="park-selection-map">
    <img src="~/Content/images/map-preview-og-image.png" />
</div>

<div>
    
    @foreach (var park in Model)
    {
        <p>@park.Name</p>
    }

</div>