@model List<Capstone.Web.Models.ParkModel>
@{
    ViewBag.Title = "ChoosePark";
}


<h2>Choose your park</h2>


<div id="park-selection-map">
    <img src="~/Content/images/map-preview-og-image.png" />
</div>

<div class="park-list-description">

    @foreach (var park in Model)
    {
        <p>
        <img src="~/Content/images/@park.Image" />
        <h4>@park.Name</h4>
        <span>@park.Description</span>
        </p>
    }

</div>