@model List<Capstone.Web.Models.LastSeenImagesModel>
@model List<Capstone.Web.Models.LastSeenVideosModel>
@{
    ViewBag.Title = "ViewTrail";
}

<div id="container">
    <h2>ViewTrail</h2>


    <link rel="stylesheet" href="https://cdn.pannellum.org/2.4/pannellum.css" />
    <script type="text/javascript" src="https://cdn.pannellum.org/2.4/pannellum.js"></script>

    <div id="panorama"></div>
    <script type="text/javascript">MakeTour();</script>

    <div id="last-seen">
        @foreach (var item in Model)
        {

        }
        <div class="last-seen-image">

        </div>

        <div class="last-seen-text">

        </div>
    </div>
</div>