@model Capstone.Web.Models.LastSeenModel
@{
    ViewBag.Title = "ViewTrail";
}

<div id="container">
    <h2>ViewTrail</h2>


    <link rel="stylesheet" href="https://cdn.pannellum.org/2.4/pannellum.css" />
    <script type="text/javascript" src="https://cdn.pannellum.org/2.4/pannellum.js"></script>

    <div id="panorama"></div>
    <script type="text/javascript">MakeTour();</script>

    <div id="last-seen">

        <div class="last-seen-image">
            @foreach (var item in Model.Images)
            {
                @item.ImageAddress;
            }
        </div>

        <div class="last-seen-text">
            @foreach (var item in Model.Images)
            {
                @item.Title;
                @item.Description;
            }
        </div>
    </div>
</div>