
ALTER TABLE [dbo].[UserRoles] DROP CONSTRAINT [fk_UserRoles_Users]
GO
ALTER TABLE [dbo].[trails] DROP CONSTRAINT [fk_trails_parks_park_id]
GO
ALTER TABLE [dbo].[trail_sounds_associative] DROP CONSTRAINT [fk_trail_sounds_associative_sound_category_id]
GO
ALTER TABLE [dbo].[trail_sounds_associative] DROP CONSTRAINT [fk_panoramic_images_trail_sounds_associative_panoramic_image_id]
GO
ALTER TABLE [dbo].[trail_sounds] DROP CONSTRAINT [fk_trail_sounds_sound_category_id]
GO
ALTER TABLE [dbo].[trail_images] DROP CONSTRAINT [fk_trails_trail_images_trail_id]
GO
ALTER TABLE [dbo].[points_of_interest] DROP CONSTRAINT [fk_points_of_interest_trail_id]
GO
ALTER TABLE [dbo].[points_of_interest] DROP CONSTRAINT [fk_points_of_interest_panoramic_image_id]
GO
ALTER TABLE [dbo].[park_images] DROP CONSTRAINT [fk_park_images_parks_park_id]
GO
ALTER TABLE [dbo].[panoramic_linking] DROP CONSTRAINT [fk_panoramic_linking_source_panoramic_id]
GO
ALTER TABLE [dbo].[panoramic_linking] DROP CONSTRAINT [fk_panoramic_linking_destination_panoramic_id]
GO
ALTER TABLE [dbo].[panoramic_images] DROP CONSTRAINT [fk_trails_panoramic_images_trail_id]
GO
ALTER TABLE [dbo].[last_seen_videos] DROP CONSTRAINT [fk_panoramic_images_last_seen_videos_panoramic_image_id]
GO
ALTER TABLE [dbo].[last_seen_images] DROP CONSTRAINT [fk_panoramic_images_last_seen_images_panoramic_image_id]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[UserRoles]
GO
/****** Object:  Table [dbo].[trails]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[trails]
GO
/****** Object:  Table [dbo].[trail_sounds_associative]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[trail_sounds_associative]
GO
/****** Object:  Table [dbo].[trail_sounds]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[trail_sounds]
GO
/****** Object:  Table [dbo].[trail_images]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[trail_images]
GO
/****** Object:  Table [dbo].[sound_categories]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[sound_categories]
GO
/****** Object:  Table [dbo].[points_of_interest]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[points_of_interest]
GO
/****** Object:  Table [dbo].[parks]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[parks]
GO
/****** Object:  Table [dbo].[park_images]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[park_images]
GO
/****** Object:  Table [dbo].[panoramic_linking]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[panoramic_linking]
GO
/****** Object:  Table [dbo].[panoramic_images]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[panoramic_images]
GO
/****** Object:  Table [dbo].[last_seen_videos]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[last_seen_videos]
GO
/****** Object:  Table [dbo].[last_seen_images]    Script Date: 4/18/2018 12:03:51 PM ******/
DROP TABLE [dbo].[last_seen_images]
GO
/****** Object:  Table [dbo].[last_seen_images]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[last_seen_images](
	[last_seen_images_id] [int] IDENTITY(1,1) NOT NULL,
	[panoramic_image_id] [int] NOT NULL,
	[description] [varchar](max) NULL,
	[image_address] [varchar](max) NULL,
	[title] [varchar](max) NULL,
	[pitch] [int] NOT NULL,
	[yaw] [int] NOT NULL,
 CONSTRAINT [pk_last_seen_images] PRIMARY KEY CLUSTERED 
(
	[last_seen_images_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[last_seen_videos]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[last_seen_videos](
	[last_seen_videos_id] [int] IDENTITY(1,1) NOT NULL,
	[panoramic_image_id] [int] NOT NULL,
	[description] [varchar](max) NULL,
	[video_address] [varchar](max) NULL,
	[title] [varchar](max) NULL,
	[pitch] [int] NOT NULL,
	[yaw] [int] NOT NULL,
	[has_sound] [bit] NULL,
	[duration] [float] NULL,
	[volume] [int] NULL,
 CONSTRAINT [pk_last_seen_videos] PRIMARY KEY CLUSTERED 
(
	[last_seen_videos_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[panoramic_images]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[panoramic_images](
	[panoramic_image_id] [int] IDENTITY(1,1) NOT NULL,
	[trail_id] [int] NOT NULL,
	[image_address] [varchar](max) NOT NULL,
	[image_latitude] [float] NOT NULL,
	[image_longitude] [float] NOT NULL,
	[is_trail_head] [bit] NOT NULL,
 CONSTRAINT [pk_panoramic_image_id] PRIMARY KEY CLUSTERED 
(
	[panoramic_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[panoramic_linking]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[panoramic_linking](
	[source_panoramic_id] [int] NOT NULL,
	[destination_panoramic_id] [int] NOT NULL,
	[hotspot_pitch] [int] NULL DEFAULT ((0)),
	[hotspot_yaw] [int] NULL DEFAULT ((0)),
	[destination_start_pitch] [int] NULL DEFAULT ((0)),
	[destination_start_yaw] [int] NULL DEFAULT ((0)),
 CONSTRAINT [pk_panoramic_linking] PRIMARY KEY CLUSTERED 
(
	[source_panoramic_id] ASC,
	[destination_panoramic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[park_images]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[park_images](
	[park_image_id] [int] IDENTITY(1,1) NOT NULL,
	[park_id] [int] NOT NULL,
	[park_image_address] [varchar](max) NOT NULL,
	[local] [bit] NOT NULL,
 CONSTRAINT [pk_park_image_id] PRIMARY KEY CLUSTERED 
(
	[park_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[parks]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[parks](
	[park_id] [int] IDENTITY(1,1) NOT NULL,
	[park_name] [varchar](max) NOT NULL,
	[park_description] [varchar](max) NOT NULL,
	[park_latitude] [float] NOT NULL,
	[park_longitude] [float] NOT NULL,
	[default_zoom] [int] NOT NULL,
 CONSTRAINT [pk_parks_park_id] PRIMARY KEY CLUSTERED 
(
	[park_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[points_of_interest]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[points_of_interest](
	[trail_id] [int] NOT NULL,
	[panoramic_image_id] [int] NOT NULL,
 CONSTRAINT [pk_points_of_interest] PRIMARY KEY CLUSTERED 
(
	[trail_id] ASC,
	[panoramic_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sound_categories]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sound_categories](
	[sound_category_id] [int] IDENTITY(1,1) NOT NULL,
	[sound_category_name] [varchar](max) NULL,
 CONSTRAINT [pk_sound_categories] PRIMARY KEY CLUSTERED 
(
	[sound_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trail_images]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trail_images](
	[trail_image_id] [int] IDENTITY(1,1) NOT NULL,
	[trail_id] [int] NOT NULL,
	[trail_image_address] [varchar](max) NOT NULL,
	[local] [bit] NOT NULL,
 CONSTRAINT [pk_trail_image_id] PRIMARY KEY CLUSTERED 
(
	[trail_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trail_sounds]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trail_sounds](
	[trail_sound_id] [int] IDENTITY(1,1) NOT NULL,
	[trail_sound_file] [varchar](max) NULL,
	[sound_category_id] [int] NULL,
 CONSTRAINT [pk_trail_sound_id] PRIMARY KEY CLUSTERED 
(
	[trail_sound_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trail_sounds_associative]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trail_sounds_associative](
	[panoramic_image_id] [int] NOT NULL,
	[sound_category_id] [int] NOT NULL,
 CONSTRAINT [pk_trail_sounds_associative] PRIMARY KEY CLUSTERED 
(
	[panoramic_image_id] ASC,
	[sound_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[trails]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trails](
	[trail_id] [int] IDENTITY(1,1) NOT NULL,
	[park_id] [int] NOT NULL,
	[trail_name] [varchar](max) NOT NULL,
	[trail_description] [varchar](max) NOT NULL,
 CONSTRAINT [pk_trails_trail_id] PRIMARY KEY CLUSTERED 
(
	[trail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[Role] [varchar](100) NOT NULL,
 CONSTRAINT [pk_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/18/2018 12:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [varchar](max) NOT NULL,
	[PasswordHash] [varchar](max) NULL,
	[SecurityStamp] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[last_seen_images] ON 

GO
INSERT [dbo].[last_seen_images] ([last_seen_images_id], [panoramic_image_id], [description], [image_address], [title], [pitch], [yaw]) VALUES (1, 27, N'Blacksmith, spiritualist, and artist Henry Church carved the images in the rock, dating the piece in 1885.', N'https://pbs.twimg.com/media/DEVebFoXUAAA0S3.jpg', N'Henry Church Rock', -4, -97)
GO
SET IDENTITY_INSERT [dbo].[last_seen_images] OFF
GO
SET IDENTITY_INSERT [dbo].[last_seen_videos] ON 

GO
INSERT [dbo].[last_seen_videos] ([last_seen_videos_id], [panoramic_image_id], [description], [video_address], [title], [pitch], [yaw], [has_sound], [duration], [volume]) VALUES (1, 27, N'Waterfall near the Hnery Church Rock', N'https://www.youtube.com/embed/8VHltLWY0jk', N'Waterfall', -2, 85, 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[last_seen_videos] OFF
GO
SET IDENTITY_INSERT [dbo].[panoramic_images] ON 

GO
INSERT [dbo].[panoramic_images] ([panoramic_image_id], [trail_id], [image_address], [image_latitude], [image_longitude], [is_trail_head]) VALUES (1, 2, N'https://i.imgur.com/m44owqT.jpg', 41.416393, -81.414979, 1)
GO
INSERT [dbo].[panoramic_images] ([panoramic_image_id], [trail_id], [image_address], [image_latitude], [image_longitude], [is_trail_head]) VALUES (2, 2, N'https://i.imgur.com/6DGsx7r.jpg', 41.416174, -81.414924, 0)
GO
INSERT [dbo].[panoramic_images] ([panoramic_image_id], [trail_id], [image_address], [image_latitude], [image_longitude], [is_trail_head]) VALUES (3, 2, N'https://i.imgur.com/7g1ObAR.jpg', 41.416025, -81.414847, 0)
GO
SET IDENTITY_INSERT [dbo].[panoramic_images] OFF
GO
INSERT [dbo].[panoramic_linking] ([source_panoramic_id], [destination_panoramic_id], [hotspot_pitch], [hotspot_yaw], [destination_start_pitch], [destination_start_yaw]) VALUES (1, 2, -3, 129, 0, 55)
GO
INSERT [dbo].[panoramic_linking] ([source_panoramic_id], [destination_panoramic_id], [hotspot_pitch], [hotspot_yaw], [destination_start_pitch], [destination_start_yaw]) VALUES (2, 1, -2, 128, 0, -10)
GO
INSERT [dbo].[panoramic_linking] ([source_panoramic_id], [destination_panoramic_id], [hotspot_pitch], [hotspot_yaw], [destination_start_pitch], [destination_start_yaw]) VALUES (2, 3, -3, 72, 0, 40)
GO
SET IDENTITY_INSERT [dbo].[park_images] ON 

GO
INSERT [dbo].[park_images] ([park_image_id], [park_id], [park_image_address], [local]) VALUES (1, 1, N'http://media.cleveland.com/plain_dealer_metro/photo/c26acacia-26cacacia3-14813519jpg-56f010a1c695a409.jpg', 0)
GO
INSERT [dbo].[park_images] ([park_image_id], [park_id], [park_image_address], [local]) VALUES (2, 2, N'https://cbscleveland.files.wordpress.com/2013/10/bedford-autumn-1.jpg', 0)
GO
INSERT [dbo].[park_images] ([park_image_id], [park_id], [park_image_address], [local]) VALUES (3, 3, N'http://media.cleveland.com/plain-dealer/photo/2017/08/02/-879980264ac84d2c.JPG', 0)
GO
SET IDENTITY_INSERT [dbo].[park_images] OFF
GO
SET IDENTITY_INSERT [dbo].[parks] ON 

GO
INSERT [dbo].[parks] ([park_id], [park_name], [park_description], [park_latitude], [park_longitude], [default_zoom]) VALUES (1, N'Acacia', N'Acacia Reservation, a 155-acre green space oasis, is located in the City of Lyndhurst. The west branch of Euclid Creek flows northwest through Acacia Reservation to join the main creek branch in Euclid Creek Reservation. A 1.7-mile paved loop trail is located in the Reservation, and the building at the main entrance is currently available to rent for programming and events.', 41.505898, -81.492452, 15)
GO
SET IDENTITY_INSERT [dbo].[parks] OFF
GO
INSERT [dbo].[points_of_interest] ([trail_id], [panoramic_image_id]) VALUES (2, 27)
GO
SET IDENTITY_INSERT [dbo].[sound_categories] ON 

GO
INSERT [dbo].[sound_categories] ([sound_category_id], [sound_category_name]) VALUES (1, N'waterfall')
GO
INSERT [dbo].[sound_categories] ([sound_category_id], [sound_category_name]) VALUES (2, N'stream')
GO
INSERT [dbo].[sound_categories] ([sound_category_id], [sound_category_name]) VALUES (3, N'birds_etc')
GO
SET IDENTITY_INSERT [dbo].[sound_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[trail_images] ON 

GO
INSERT [dbo].[trail_images] ([trail_image_id], [trail_id], [trail_image_address], [local]) VALUES (1, 2, N'https://clevelandmetroparks.com/getmedia/316cf087-0d68-4fc9-8b00-05f887a3fc7f/Henry-Church-Rock_thumb.jpg.ashx?h=500&w=840&mode=crop&scale=both', 0)
GO
INSERT [dbo].[trail_images] ([trail_image_id], [trail_id], [trail_image_address], [local]) VALUES (2, 3, N'https://clevelandmetroparks.com/getmedia/316cf087-0d68-4fc9-8b00-05f887a3fc7f/Henry-Church-Rock_thumb.jpg.ashx?h=500&w=840&mode=crop&scale=both', 0)
GO
INSERT [dbo].[trail_images] ([trail_image_id], [trail_id], [trail_image_address], [local]) VALUES (3, 4, N'https://clevelandmetroparks.com/getmedia/316cf087-0d68-4fc9-8b00-05f887a3fc7f/Henry-Church-Rock_thumb.jpg.ashx?h=500&w=840&mode=crop&scale=both', 0)
GO
SET IDENTITY_INSERT [dbo].[trail_images] OFF
GO
SET IDENTITY_INSERT [dbo].[trail_sounds] ON 

GO
INSERT [dbo].[trail_sounds] ([trail_sound_id], [trail_sound_file], [sound_category_id]) VALUES (1, N'https://s3.us-east-2.amazonaws.com/metropark/waterfall_swooshing.mp3', 1)
GO
INSERT [dbo].[trail_sounds] ([trail_sound_id], [trail_sound_file], [sound_category_id]) VALUES (2, N'https://s3.us-east-2.amazonaws.com/metropark/waterfall_birds.mp3', 1)
GO
INSERT [dbo].[trail_sounds] ([trail_sound_id], [trail_sound_file], [sound_category_id]) VALUES (3, N'https://s3.us-east-2.amazonaws.com/metropark/waterfall2.mp3', 1)
GO
SET IDENTITY_INSERT [dbo].[trail_sounds] OFF
GO
INSERT [dbo].[trail_sounds_associative] ([panoramic_image_id], [sound_category_id]) VALUES (1, 2)
GO
INSERT [dbo].[trail_sounds_associative] ([panoramic_image_id], [sound_category_id]) VALUES (2, 2)
GO
INSERT [dbo].[trail_sounds_associative] ([panoramic_image_id], [sound_category_id]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[trails] ON 

GO
INSERT [dbo].[trails] ([trail_id], [park_id], [trail_name], [trail_description]) VALUES (2, 20, N'Henry Church Rock', N'This long-term ephemeral landmark is a piece of cultural history immersed in nature by the riverside.  Blacksmith, spiritualist, and artist Henry Church carved the images in the rock, dating the piece in 1885. Visit the rock, and youll discover many images, which include an eagle, shield, papoose, woman, quiver, and others. The sandstone rock itself stands, a weathering testament to the early settlement in Bentleyville-Solon.')
GO
INSERT [dbo].[trails] ([trail_id], [park_id], [trail_name], [trail_description]) VALUES (3, 1, N'Lake Loop Trail', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
GO
INSERT [dbo].[trails] ([trail_id], [park_id], [trail_name], [trail_description]) VALUES (4, 2, N'Hemlock Loop', N'Access this trail loop from Hemlock Creek Picnic Area located at the intersection of Tinkers Creek Rd and Dunham Rd.')
GO
SET IDENTITY_INSERT [dbo].[trails] OFF
GO
ALTER TABLE [dbo].[last_seen_images]  WITH CHECK ADD  CONSTRAINT [fk_panoramic_images_last_seen_images_panoramic_image_id] FOREIGN KEY([panoramic_image_id])
REFERENCES [dbo].[panoramic_images] ([panoramic_image_id])
GO
ALTER TABLE [dbo].[last_seen_images] CHECK CONSTRAINT [fk_panoramic_images_last_seen_images_panoramic_image_id]
GO
ALTER TABLE [dbo].[last_seen_videos]  WITH CHECK ADD  CONSTRAINT [fk_panoramic_images_last_seen_videos_panoramic_image_id] FOREIGN KEY([panoramic_image_id])
REFERENCES [dbo].[panoramic_images] ([panoramic_image_id])
GO
ALTER TABLE [dbo].[last_seen_videos] CHECK CONSTRAINT [fk_panoramic_images_last_seen_videos_panoramic_image_id]
GO
ALTER TABLE [dbo].[panoramic_images]  WITH CHECK ADD  CONSTRAINT [fk_trails_panoramic_images_trail_id] FOREIGN KEY([trail_id])
REFERENCES [dbo].[trails] ([trail_id])
GO
ALTER TABLE [dbo].[panoramic_images] CHECK CONSTRAINT [fk_trails_panoramic_images_trail_id]
GO
ALTER TABLE [dbo].[panoramic_linking]  WITH CHECK ADD  CONSTRAINT [fk_panoramic_linking_destination_panoramic_id] FOREIGN KEY([destination_panoramic_id])
REFERENCES [dbo].[panoramic_images] ([panoramic_image_id])
GO
ALTER TABLE [dbo].[panoramic_linking] CHECK CONSTRAINT [fk_panoramic_linking_destination_panoramic_id]
GO
ALTER TABLE [dbo].[panoramic_linking]  WITH CHECK ADD  CONSTRAINT [fk_panoramic_linking_source_panoramic_id] FOREIGN KEY([source_panoramic_id])
REFERENCES [dbo].[panoramic_images] ([panoramic_image_id])
GO
ALTER TABLE [dbo].[panoramic_linking] CHECK CONSTRAINT [fk_panoramic_linking_source_panoramic_id]
GO
ALTER TABLE [dbo].[park_images]  WITH CHECK ADD  CONSTRAINT [fk_park_images_parks_park_id] FOREIGN KEY([park_id])
REFERENCES [dbo].[parks] ([park_id])
GO
ALTER TABLE [dbo].[park_images] CHECK CONSTRAINT [fk_park_images_parks_park_id]
GO
ALTER TABLE [dbo].[points_of_interest]  WITH CHECK ADD  CONSTRAINT [fk_points_of_interest_panoramic_image_id] FOREIGN KEY([panoramic_image_id])
REFERENCES [dbo].[panoramic_images] ([panoramic_image_id])
GO
ALTER TABLE [dbo].[points_of_interest] CHECK CONSTRAINT [fk_points_of_interest_panoramic_image_id]
GO
ALTER TABLE [dbo].[points_of_interest]  WITH CHECK ADD  CONSTRAINT [fk_points_of_interest_trail_id] FOREIGN KEY([trail_id])
REFERENCES [dbo].[trails] ([trail_id])
GO
ALTER TABLE [dbo].[points_of_interest] CHECK CONSTRAINT [fk_points_of_interest_trail_id]
GO
ALTER TABLE [dbo].[trail_images]  WITH CHECK ADD  CONSTRAINT [fk_trails_trail_images_trail_id] FOREIGN KEY([trail_id])
REFERENCES [dbo].[trails] ([trail_id])
GO
ALTER TABLE [dbo].[trail_images] CHECK CONSTRAINT [fk_trails_trail_images_trail_id]
GO
ALTER TABLE [dbo].[trail_sounds]  WITH CHECK ADD  CONSTRAINT [fk_trail_sounds_sound_category_id] FOREIGN KEY([sound_category_id])
REFERENCES [dbo].[sound_categories] ([sound_category_id])
GO
ALTER TABLE [dbo].[trail_sounds] CHECK CONSTRAINT [fk_trail_sounds_sound_category_id]
GO
ALTER TABLE [dbo].[trail_sounds_associative]  WITH CHECK ADD  CONSTRAINT [fk_panoramic_images_trail_sounds_associative_panoramic_image_id] FOREIGN KEY([panoramic_image_id])
REFERENCES [dbo].[panoramic_images] ([panoramic_image_id])
GO
ALTER TABLE [dbo].[trail_sounds_associative] CHECK CONSTRAINT [fk_panoramic_images_trail_sounds_associative_panoramic_image_id]
GO
ALTER TABLE [dbo].[trail_sounds_associative]  WITH CHECK ADD  CONSTRAINT [fk_trail_sounds_associative_sound_category_id] FOREIGN KEY([sound_category_id])
REFERENCES [dbo].[sound_categories] ([sound_category_id])
GO
ALTER TABLE [dbo].[trail_sounds_associative] CHECK CONSTRAINT [fk_trail_sounds_associative_sound_category_id]
GO
ALTER TABLE [dbo].[trails]  WITH CHECK ADD  CONSTRAINT [fk_trails_parks_park_id] FOREIGN KEY([park_id])
REFERENCES [dbo].[parks] ([park_id])
GO
ALTER TABLE [dbo].[trails] CHECK CONSTRAINT [fk_trails_parks_park_id]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [fk_UserRoles_Users]
GO
